body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
}
#main-view {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 500px;
}

.row {
  margin-bottom: 5px !important;
}

input {
  margin-bottom: 5px !important;
}

.clear-fields-container {
  text-align: right;
}

a.btn {
  margin-top: 8px;
}
